In [42]:
import os
import openai
import ast
import pandas as pd

openai.api_key = os.getenv("OPENAI_API_KEY")

def gpt3(text):
    """ functions to clean up api output """
    response = openai.Completion.create(
      model="text-davinci-002",
      prompt=prompt,
      temperature=0,
      max_tokens=20,
      top_p=1,
      frequency_penalty=0,
      presence_penalty=0
    )
    return response.choices[0]['text']

In [43]:
def clean_up(text):
    """ functions to clean up api output """
    return text.strip()

## ChemicalCompoundElement

In [45]:
prompt = """
What are all the chemical elements that make up the molecule water?

['Hydrogen', 'Water']

What are all the chemical elements that make up the molecule aspirin?

['Oxygen', 'Carbon', 'Hydrogen']

What are all the chemical elements that make up the molecule ammonium nitrate?

"""

x = gpt3(prompt)
x = clean_up(x)
print(x)

['Nitrogen', 'Hydrogen', 'Oxygen']

## PersonEmployer

In [51]:
prompt = """
Where is or was Susan Wojcicki employed?

['Google']

Where is or was Steve Wozniak employed?

['Apple Inc', 'Hewlett-Packard', 'University of Technology Sydney', 'Atari, Atari Inc']

Where is or was Danny Sullivan employed?

"""

x = gpt3(prompt)
x = clean_up(x)
print(x)

['Search Engine Land']

# CompanyParentOrganization

In [35]:
prompt = """
What is the parent company of Microsoft?

['None']

What is the parent company of Sony?

['sony group', 'sony']

What is the parent company of Suzuki?
"""

x = gpt3(prompt)
x = clean_up(x)
print(x)

['suzuki motor corporation']

In [54]:
x = pd.read_csv(r'./train/PersonEmployer.csv')
x

,SubjectEntity,relation,ObjectEntity
0,Adam Back,PersonEmployer,['blockstream']
1,Ahn Cheol-soo,PersonEmployer,['seoul national university']
2,Ahn Cheol-soo,PersonEmployer,['kaist']
3,Al Gore,PersonEmployer,['middle tennessee state university']
4,Al Gore,PersonEmployer,"['university of california, los angeles']"
...,...,...,...
181,Yahtzee Croshaw,PersonEmployer,['pc gamer']
182,Yahtzee Croshaw,PersonEmployer,['hyper']
183,Yahtzee Croshaw,PersonEmployer,"['escapist', 'the escapist']"
184,Yukio Hatoyama,PersonEmployer,['senshu university']
185,Yukio Hatoyama,PersonEmployer,['tokyo institute of technology']

In [18]:
i = dict()
for triple in body: 
    s, p, o = triple 
    if s not in i: 
        i[s] = [o]
    else: 
        i[s].append(o)

In [55]:
def string2list(string):
    return string[1: -1].split(", ")
 
# Driver code   
str1 = '''['seoul national university']", "['kaist']'''
print(type(string2list(str1)))
print(string2list(str1))

<class 'list'>
['\'seoul national university\']"', '"[\'kaist\'']

In [56]:
x['ObjectEntity'].apply(string2list)

0                                ['blockstream']
1                  ['seoul national university']
2                                      ['kaist']
3          ['middle tennessee state university']
4      ['university of california, los angeles']
                         ...
181                                 ['pc gamer']
182                                    ['hyper']
183                 ['escapist', 'the escapist']
184                        ['senshu university']
185            ['tokyo institute of technology']
Name: ObjectEntity, Length: 186, dtype: object